EXPO_PUBLIC_SUPABASE_URL=https://qefbycdvjeyssituqyzi.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFlZmJ5Y2R2amV5c3NpdHVxeXppIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjU3MjMyNzIsImV4cCI6MjA4MTI5OTI3Mn0.w4W5-mh7m1vjPI-CQ8TqjwEI_6FqVnROLGpyusPqXEY
